.fade {
  /* background-color: linear-gradient('blue', 'green', 'yellow', 'orange', 'red');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  animation: fadeIn 0.5s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}